@media (max-width: 1400px) {
    body {
        background: hsl(257, 40%, 49%) url(../images/bg-mobile.svg) top/100% auto no-repeat;
    }

    main {
        grid-template-areas: "container-left"
                             "container-right";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .container {
        height: 100%;
        padding: 0 40px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container .logo {
        align-self: flex-start;
        width: 200px;
        margin: 50px 0;
    }

    .container .illustration {
       width: 100%;
    }

    .container .about h1 {
        margin: 0 auto;
        font-size: 35px;
    }

    .container .about .register {
        margin-bottom: 100px;
    }

    .container .social {
        position: relative;
        align-self: center;
        margin-right: 25px;
    }
}

@media ( max-width: 768px) {
    .container .logo {
        width: 150px;
    }

    .container .about h1 {
        font-size: 27px;
        max-width: 300px;
    }

    .container .about p {
        font-size: 20px;
    }

    .container .about .register {
        padding: 13px 90px;
        font-size: 15px;
    }

    .container .social a {
        font-size: 20px;
    }
}